swagger: "2.0"
info:
  version: "1.0.0"
  title: "Book Manager API to NYT Books API"
  contact:
    email: "bookmanager@bookmanager.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.nytimes.com"
basePath: "/svc/books/v3"
schemes:
- "https"
paths:
  /lists/best-sellers/history.json:
    get:
      summary: "Get books"
      operationId: "getBooks"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "title"
        in: "query"
        description: "The title of the book\n\nWhen searching, you can specify\
          \ a portion of a title or a full title."
        type: "string"
      responses:
        "200":
          description: "Books"
          schema:
            type: "object"
            properties:
              results:
                type: "array"
                items:
                  $ref: "#/definitions/Book"
      security:
      - api-key: []
  /favorites:
    post:
      summary: "Add a book to favorites"
      operationId: "addBookToFavorites"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Book that needs to be added"
        required: true
        schema:
          $ref: "#/definitions/Book"
      responses:
        "200":
          description: "Successful operation"
      security:
      - api-key: []
  /favorites/{bookId}:
    put:
      summary: "Update a favorite book's title"
      operationId: "updateFavoriteBook"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "title"
        in: "query"
        description: "The new title of the best seller."
        type: "string"
      - name: "bookId"
        in: "path"
        description: "ID of the book"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Successful operation"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Book not found"
      security:
      - api-key: []
    delete:
      summary: "Delete a favorite book"
      operationId: "deleteFavoriteBook"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "bookId"
        in: "path"
        description: "ID of the book"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Successful operation"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Book not found"
      security:
      - api-key: []
securityDefinitions:
  api-key:
    name: "api-key"
    type: "apiKey"
    in: "query"
definitions:
  Book:
   type: "object"
   properties:
     title:
       type: "string"
     author:
       type: "string"